{% extends "base.html" %}
{% load static %}
{% block title %} dashboard {% endblock %}
{% block resources %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="{% static 'js/autocomplete.js' %}" defer></script> 
<link
  rel="stylesheet"
  href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"
/>
{% endblock %}

{% block content %}

  <form  method="post">

    <label for="selected-date">Select a date:</label>
    <input type="date" id="selected-date">
    <br>
    <input type="text" id="autocomplete" placeholder="Search for names...">
    <ul id="suggestion-list"></ul>

    <ul id="selected-values"></ul>

    <button id="submit-button"  type="submit">Submit List</button>
  </form>


{% endblock %}