{% extends "base.html" %}
{% block title %} Blog {% endblock %}
{% block content %} 

    <h3>blog</h3>
    {% for a in  articles %}
        <div>
            <h2><a href="{% url 'asked_article_view' a.article_head %}">{{a.article_head}}</a></h2>
            <br>
            <div>
                <a href="{% url 'profile_view' a.user_written %}">{{a.user_written}}</a> 
            </div>
            <div>
                <h6>{{a.Date_written}}</h6>
            </div>
            <br>
        </div>
      
    {% endfor %}


{% endblock %}