{% extends "base.html" %}
{% block title %} forgot password {% endblock %}
{% block resources %} 
<style>
  *{
margin: 0;
padding: 0;
font-family: 'Roboto Condensed', sans-serif;
}
/* navbar */ 
.navbar-nav{
margin-right: 0 !important;
padding-right: 100px;
}

.navbar{
background-color: #0a193d;
color: white !important;
}

.nav-item a{
color: white !important;
}

.nav-item{
padding-left: 2px;
}

.navbar-brand{
color: white !important;
padding-left: 100px;
}

#navbar button{
color: white !important;
}
.button.is-primary {
     background-color: #0a193d;
   }
   .box {
     border: none;
     border-radius: 5px;
     padding: 20px;
   }
   body {
     background-color: #f0f8ff;
   }
   .input {
     border: 3px solid #ccc;
     border-radius: 20px;
   }
   .title.is-2.has-text-centered {
     color: #0a193d;
   }
   .center-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }
   .link-margin {
     margin-top: 10px;
   }
   .links-container {
     display: flex;
     justify-content: space-between;
     margin-top: 10px; 
   }
   .messages {
     margin-top: 10px;
     list-style: none;
     padding: 0;
     text-align:center;
   }
   .messages li {
     color: #ff3860; 
     font-size: 18px;
     margin-bottom: 5px;
   }
</style>
{% endblock %} 
{% block content %}
<section id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light fixed top">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home_view' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
        <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475Z"/>
        <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
        </svg> Diabetes Diary	 
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
      id="navbarSupportedContent">
    </div>
    </div>
</nav>
  </section>
  <!---forgot password-->
  <div class="center-container">
    <div class="column is-one-third">
      <form class="box" action="{% url 'forgot_password_view' %}" method="post">
        {% csrf_token %}
        <h2 class="title is-2 has-text-centered">Forgot Password</h2>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text"  id="username" name="username" placeholder="enter your username" required>
          </div>
        </div>
      
        <button class="button is-primary" type="submit">Submit</button>
  </form>
</div>
</div>
   {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

   
