{% extends "base.html" %}
{% block title %} forgot password {% endblock %}

{% block content %}
 <form class="box" action="{% url 'forgot_password_view' %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text"  id="username" name="username" placeholder="enter your username" required>
          </div>
        </div>
      
        <button class="button is-primary" type="submit">Submit</button>
  </form>

   {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
{% endblock %}

   
