{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}
{% block resources %} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    body {
    background: rgb(99, 39, 120)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>
{% endblock %}

{% block content %}
    <!-- <h1>{{ user.username }}</h1> -->
    <form action="{% url 'settings_view' user.username %}" method="post">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <span class="font-weight-bold">{{ user.username }}</span>
                        <span class="text-black-50">{{ user.email }}</span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>
                                <input type="text" name="first_name" class="form-control" placeholder="First name" value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Surname</label>
                                <input type="text" name="last_name" class="form-control" placeholder="Surname" value="{{ user.last_name }}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Mobile Number</label>
                                <input type="text" name="mobile_number" class="form-control" placeholder="Enter phone number" value="{{ user.mobile_number }}">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Email ID</label>
                                <input type="text" name="email" class="form-control" placeholder="Enter email id" value="{{ user.email }}">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Date Of Birth</label>
                                <input type="date" name="date_of_birth" class="form-control" placeholder="Date Of Birth" value="{{ user.date_of_birth }}">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Are you diabetic?</label>
                                <div>
                                    <label>
                                        <input type="radio" name="diabetic" value="yes"> Yes
                                    </label>
                                    <label>
                                        <input type="radio" name="diabetic" value="no"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <label class="labels">Gender</label>
                            <div>
                                <label>
                                    <input type="radio" name="gender" value="male"> Male
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="female"> Female
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Country</label>
                                <input type="text" name="country" class="form-control" placeholder="Country" value="{{ user.country }}">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                        </div>

                        <div>
                            {% if messages %}
                                <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>Body details</span>
                            <span class="border px-3 p-1 add-experience">
                                <i class="fa fa-plus"></i>&nbsp;Body
                            </span>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label class="labels">Height</label>
                            <input type="number" name="height" class="form-control" placeholder="In Cms" value="">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label class="labels">Weight</label>
                            <input type="number" name="weight" class="form-control" placeholder="In Kgs" value="">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label class="labels">Mean Sugar Level</label>
                            <input type="number" name="mean_sugar_level" class="form-control" placeholder="In mg/Dl" value="">
                        </div>
                        <br>
                        <div class="mt-5 text-center">
                            <a href="{% url 'delete_acct' user.username %}"><button class="btn btn-primary profile-button" type="button">Delete Account</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}