{% extends "base.html" %}
{% load static %}
{% block title %} dashboard {% endblock %}
{% block resources %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<style>
  *{
margin: 0;
padding: 0;
font-family: 'Roboto Condensed', sans-serif;
}
/* navbar */ 
.navbar-nav{
margin-right: 0 !important;
padding-right: 100px;
}

.navbar{
background-color: #0a193d;
color: white !important;
}

.nav-item a{
color: white !important;
}

.nav-item{
padding-left: 2px;
}

.navbar-brand{
color: white !important;
padding-left: 100px;
}

#navbar button{
color: white !important;
}
body{
background-color: #0a193d;
color:white;
}
html{
background-color: #0a193d;
}
#graph1{
padding-top: 5%;
}
.graph{
background-color:white;
height: 250px;
width: 500px;
}
#chartContainer {
          width: 300px;
          height: 150px; 
          margin: 0 auto; 
      } 
      .items{
        display:flex;
        flex-direction: row;
        float: right;
      }

     
</style>
{% endblock %}
{% block content %} 
{% if user.is_authenticated %}
 
    <!-- <form action="{%  url 'logout_view' %}" method=""><button type="submit">logout</button></form> -->
    <section id="navbar">
      <nav class="navbar navbar-expand-lg navbar-light fixed top">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_view' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
            <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475Z"/>
            <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
            </svg> Diabetes Diary	 
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
          id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link active"
            aria-current="page"
            href="{% url 'home_view' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            href="{% url 'addmeal' user.username %}">ADD MEAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            href="{% url 'settings_view' user.username %}">PROFILE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            href="{% url 'write_blog_view' user.username  %}">WRITE BLOG</a>
          </li>
                <li class="nav-item">
            <a class="nav-link"
            href="{% url 'issue_view'  user.username %}">REPORT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            href="{% url 'logout_view' %}">Log Out</a>
          </li>
          </ul>
        </div>
        </div>
    </nav>
      </section>
      <div class="container" id="graph1">

          <h1> Welcome back {{  user.username }}!!!</h1>
          <h3>Your sugar level for today : {{ count }}</h3>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="container">
            <div class="items">
    <div class="graph">
      <canvas id="myChart" ></canvas>
    </div>
    </div>
<!----->

      <div  id = "meallog" class="details">
        <h2>Your meal history</h2>
        {% for date, items in meal.items %}
            <h2>{{ date }}</h2>
            <ul>
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
      </div>
    </div>
    </div>
     <script>
        
        const data_json = '{{ data|escapejs }}';

        const data = JSON.parse(data_json);

        const labels = Object.keys(data);
        const values = Object.values(data);

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sugar Intake',
                    data: values,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: true, 
                    tension: 0.4 
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    
     
   
{% endif %}
{% endblock %}