{% extends "base.html" %}
{% block title %} dashboard {% endblock %}
{% block content %} 

{% if user.is_authenticated %}
    <!-- <form action="{%  url 'logout_view' %}" method=""><button type="submit">logout</button></form> -->

    <div class="navbar">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home_view' %}">
                  Home
                </a>
          
                <a class="navbar-item">
                  XXXXXXX
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      profile
                    </a>
                    <a class="navbar-item">
                      XXXXXX
                    </a>
                    <a class="navbar-item">
                      XXXXXXX
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <form action="{% url 'logout_view' %}" method="">
                        <button class="button is-primary" type="submit">
                        Log out
                        </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </div>
    <h1> welcome back{{  user.username }}!!!</h1>
    


{% endif %}

{% endblock %}